<h1>About</h1>
<p>

	This app was using Ruby on Rails by Neil Patel <%= link_to "spark48" , "http://www.spark48.com" %>.

	It contains famous 20th quotes which you can upload as text or as an image!

	The app allows you to "heart" your favourite quote

</p>
