<h1>About</h1>
<p>

	This app was using Ruby on Rails by Neil Patel <%= link_to "spark48" , "http://www.spark48.com" %>.

	It contains famous quotes from my favourite film Office Space - directed by Mike Judge in 1999

	Satirizing work life in a typical 1990s software company, it focuses on a handful of individuals fed up with their jobs portrayed by Ron Livingston, Jennifer Aniston, Gary Cole, David Herman, Ajay Naidu, and Diedrich Bader.

	The app allows you to "heart" your favourite quote

</p>
